body{
    font-family: Georgia;
    margin: 0;
}

.wrapper{
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

#main-banner, #main-banner img{
    width: 100%;
}

#main-banner img{
    border-bottom: 6px solid #f34949;
}

#home-menu h2{
    background-image: url(../images/menu-head.png);
    background-repeat: no-repeat;
    width: 156px;
    height: 74px;
    text-indent: -10000px;
    margin: 0 auto;
    position: relative;
    top: -4px;
}

#home-menu ul{
    padding: 0;
    list-style-type: none;
}

#home-menu ul:after{
    content: "";
    clear: both;
    display: block;
}

#home-menu li{
    float: left;
    width: 40%;
    padding: 0;
    margin: 20px 0 20px 8%;
}

#home-menu li:nth-child(odd){
    margin: 20px  8% 20px 0;
}

.dish{
    float: left;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background: #fff;
    padding-right: 15px;
}
.flex-container
{
    display: flex;
    flex-wrap: wrap;
    height:auto;
}
#toggle-button{
    display:none;
}
.toggle{
    display:flex;
    justify-content: flex-end;
    background-color:rgb(80, 71, 71);
    padding:10px;
}
.toggle label{
    height:45px;
    width:45px;
    cursor :pointer;
    border-radius:6px;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.toggle label span {
    background-color:red;
    height:3px;
    width:70%;
    margin:2px 0px;

   
}
  
.toggle
{
    display: none;
    
}
.header
{
    display:flex;
    justify-content: flex-end;
    background-color:rgb(61, 58, 58);
    width:100%;
}
.header a
{
   font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 15px;
    color:white;
    padding:10px 15px;
    text-decoration: none;

    
    font-weight: bold;
    margin-left:5px;

}
#logo
{
    
    padding-right:350px;
}


.price{
    float: right;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background: #fff;
    padding-left: 15px;
}

.description{
    clear: both;
    display: block;
    color: #999;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    position: relative;
    top: -8px;
}

#featured{
    margin-top: 100px;
}

#featured ul{
    padding: 0;
}

#featured li{
    float: left;
    width: 23%;
    margin-right: 1%;
    list-style-type: none; 
}

#featured li img{
    width: 100%;
    margin-bottom: 10px;
}

#featured li a{
    color: #333;
    text-decoration: none;
    float: left;
}

#featured li span{
    float: right;
    color: #333;
}

#featured ul:after{
    content: "";
    display: block;
    clear: both;
}

footer{
    background: #3b3b3b;
    margin-top: 100px;
    padding: 30px 0;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding: 0;
    list-style-type: none;
    color: #eee;
    width: 23%;
    margin-right: 2%;
}

footer li{
    margin: 10px 0;
}

footer a{
    color: #eee;
    text-decoration: none;
}

/*MEDIA QUERIES*/
/*tablets*/
@media screen and (max-width: 760px){
   
    #featured li
    {
        width:48%;
        
    }
    footer ul
    {
        width:48%;
        text-align: center;
    }

}

/*Mobiles*/
@media screen and (max-width: 650px){
    .header{
        
        flex-direction:column;
        display:none;
        position: relative;
        flex-wrap: nowrap;
    
        
       

        
    }
    
    #toggle-button:checked + .header{
        display:flex;

    

        }
        
    .toggle{
        display: flex;

    }


    #featured li
    {
        width:90%;
        margin:10px 5%;
        
    }

    footer ul
    {
        width:48%;
        text-align: center;
    }
    #home-menu li
    {
        float : none;
        width:80%;
   
       margin:30px 2% !important;
    }
    #main-banner img
    {
        position:relative;
        width:100%;
   
    }
    .header a
    {
        display:flex;
        flex-direction: column;
    }


}

